<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-plugin-stone_paper_scissors" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>StonePaperScissors</name>
	<js-module name="StonePaperScissors" src="www/StonePaperScissors.js">
		<clobbers target="cordova.plugins.StonePaperScissors" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="RPSGamePlugin">
				<param name="ios-package" value="RPSGamePlugin" />
			</feature>
		</config-file>
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" />
		<source-file src="src/ios/RPSGamePlugin.swift" />
	    <source-file src="src/ios/RPSGesture.swift" />
	    <resource-file src="src/ios/Main.storyboard" target="Resources/Main.storyboard" />
	    <resource-file src="src/models/hand_landmarker.task" target="hand_landmarker.task" />
	    <podspec>
            <config>
            </config>
            <pods use-frameworks="true">
               <pod name="MediaPipeTasksVision" spec="0.10.21"/>
            </pods>
        </podspec>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
   			<string>"Camera permission required for playing RPS!"</string>
   		</config-file>
	</platform>
</plugin>